<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Scegli l'esercizio:</h1>
    <a href="/es1">1. Confini provincia</a>
    <a href="/es2">2. Comuni della provincia</a>
    <a href="/es3">3. Elenco Comuni della provincia</a>
    <a href="/es4">4. Superfice dei Comuni della provincia in metri quadrate</a>
    <a href="/es5">5. Superfice dei Comuni della provincia in miglia quadrate</a>
    <a href="/es6">6. Comuni Confinanti alla provincia</a>
    <a href="/es7">7. Estensione complessiva dei comuni che confinano con la provincia</a>
    <a href="/es8">8. Comune confinante più esteso</a>
    <a href="/es9">9. Distanza tra il capoluogo della provincia e Milano</a>
</body>
</html>